*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html,body{
    margin:5px;
}
main{
}
a{
    color: blue;
}
.classInfo{
    border-color:#f00;
    border-left-width:2px;
    border-right-width:2px;
    border-top-width:2px;
    border-style:solid;
    border-bottom-width:0px;
}
.classPackage{
    border-color:#f00;
    border-left-width:2px;
    border-right-width:2px;
    border-bottom-width:2px;
    border-style:solid;
    border-top-width:0px;
}
.classVariable{
    border-color:#8800FF;
    border-left-color:#00f;
    border-left-width:3px;
    border-right-width:0px;
    border-bottom-width:0px;
    border-style:solid;
    border-top-width:1px;
}
.classFunction{
    border-color:#8800FF;
    border-left-color:#0F0;
    border-left-width:3px;
    border-right-width:0px;
    border-bottom-width:0px;
    border-style:solid;
    border-top-width:1px;
}
.classFunction:hover{
    background-color:#DFD;
}
.packageHolder{
    border-color:#8800FF;
    border-left-color:#7700FF;
    border-left-width:3px;
    border-right-width:0px;
    border-bottom-width:0px;
    border-style:solid;
    border-top-width:1px;
}
.classFunction:nth-child(1) {
    border-top-width:3px;
    border-top-color:white;
}
.classVariable:nth-last-child(1) {
    border-bottom-width:3px;
    border-bottom-color:white;
}
.classVariable:hover{
    background-color:#DEF;
}

.0classVariable{
    border-color:#888888;
    border-left-color:#00f;
    border-left-width:3px;
    border-right-width:0px;
    border-bottom-width:0px;
    border-style:solid;
    border-top-width:1px;
}
